@font-face {
    font-family: "Roboto", sans-serif;
    src : url("./fonts/Roboto-Regular.woff2") format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Roboto", sans-serif;
    src: url("./fonts/Roboto-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Roboto", sans-serif;
    src: url("./fonts/Roboto-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Montserrat", sans-serif;
    src: url('./fonts/Montserrat-Regular.woff2') format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Montserrat", sans-serif;
    src: url("./fonts/ontserrat-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  
  :root {
    --color-dark: #141414;
    --color-ligth-gray: #7A7A7A ;
    --color-dark-gray: #424242;
    --color-orange: #BF6024;
    --color-dark-blue: #45536D;
  
    --border-radius: 50px;
    --border: 1px solid var(--color-ligth-gray);
  
    --font-family-base: "Roboto", sans-serif;
    --font-family-accent: "Montserrat", sans-serif;
  
    --container-width: 1140px;
    --padding-inline: 390px;
  }
  
  body {
    font-family: var(--font-family-base);
    background-color: #ffffff;
    font-size: 14px;
    color: var(--color-ligth-gray);
    line-height: 1.30;
    max-width: 1920px;
  }
  
  .container {
    margin-inline: auto;
    width: var(--container-width);
  }
  
  header a {
    color: var(--color-dark-blue);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
  }
  
  #header-top {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    border-bottom: var(--border);
    padding-bottom: 32px;
    padding-top: 43px;
  }
  
  #left-side{
    display: flex;
    align-items: baseline;
  }
  
  
  #header-top a:nth-child(2) {
    color: var(--color-dark-blue);
    font-size: 28px;
    font-weight: bold;
    margin-left: 8px;
  }
  
  #header-top div:last-child {
    font-style: 14px;
    font-weight: 400;
    color: var(--color-dark-blue);
    margin-left: 23px;
  }
  
  
  #right-side {
    display: flex;
    column-gap: 18px;
  }
  
  #right-side a:first-of-type {
    text-decoration: underline;
  }
  
  
  #header-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
  }
  
  #header-left-menu {
    display: flex;
    column-gap: 18px;
  }
  
  #header-right-menu {
    display: flex;
    column-gap: 18px;
  }
  
  #resort-photo {
    width: 1140px;
    height: 595px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 36px;
    padding-bottom: 25px;
    border-bottom: var(--border);
  }
  
  #entertaiment h1 {
    font-weight: 600;
    font-size: 64px;
    width: 735px;
    color: var(--color-dark-gray);
    text-transform: uppercase;
    margin-top: 27px;
    margin-bottom: 32px;
  }
  
  #entertaiment article {
    width: 555px;
    height: 300px;
  }
  
  #entertaiment-container {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 28px;
  }
  
  .subtitle {
    color: var(--color-orange);
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 33px;
  }
  
  #entertaiment-container img {
    margin: 0;
    padding: 0;
  }
  
  #entertaiment a {
    padding-top: 12px;
    text-transform: uppercase;
    color: var(--color-dark);
    font-size: 14px;
    font-weight: 500;
  }
  
  #entertaiment {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 124px;
    border-bottom: var(--border);
  }
  
  .subtitle {
    margin-top: 67px;
  }
  
  #accomodation {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 75px;
    border-bottom: var(--border);
  }

  #acc-cards {
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
  }
  
    

.bg-header {
    font-size: 24px;
    font-weight: 600;
    line-height: 30.72px;
    color: #ffffff;
}

.bg-text {
    position: absolute;
    padding-left: 34px;
    padding-bottom: 28px;
}
  #acc-cards {
    display: flex;
    column-gap: 29px;
  }
  
  #acc-card1 {
    height: 600px;
    background-image: url("./apart.png");
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 555px;
 }
    #apart {
    padding-top: 490px;
    padding-bottom: 28px;
    padding-left: 33px;
  }
  
  #acc-card1 h3 {
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 24px;
  }
  
  #acc-cards button {
    font-size: 14px;
    font-weight: 500;
    background-color: #BF6024;
    border: 1px solid #E5C6B2;
    border-radius: 50px;
    color: #E5C6B2;
    padding: 5px 13px;
    white-space: nowrap;
  }
  
 #show {
    background-color: transparent;
    margin-left: 18px;
  }
  
  
  
  #acc-card2, #acc-card3 {
    display: flex;
    width: 540px;
    height: 285px;
    background: #EAEDF2;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 30px 30px 0;
}


.hotel-text, .loyal-text {
    padding-left: 72px;
}

.hotel .loyal h2 {
    font-size: 24px;
    font-weight: 600;
}

.hotel .loyal h3 {
    font-size: 14px;
    font-weight: 400;
}
  
  #acc-card2 h3{
    width: 270px;
    font-size: 24px;
    margin-bottom: 28px;
    font-weight: 600;
    color: var(--color-dark)
  }
  
  #card2-text, #card3-text {
    padding-top: 90px;
    padding-left: 76px;
    padding-bottom: 78px;
  }
  
  #select {
    background-color: transparent;
    border: 1px solid #BF6024;
    color: #BF6024;
  }
  
  #select span {
    display: inline-block;
    height: 8px;
    width: 30px;
    background-image: url("./arrow.png");
    background-repeat: no-repeat;
    margin-left: 10px;
  }
  
  #card3-btns {
    display: flex;
    column-gap: 12px;
  }
  
  #acc-card3 h3 {
    font-size: 24px;
    margin-bottom: 11px;
    font-weight: 600;
    color: var(--color-dark)
  }
  
  #acc-card3 p {
    color: var(--color-dark);
    margin-bottom: 23px;
    width: 270px;
  }
  
  #acc-card3 button {
    text-transform: uppercase;
  }
  
  #detailed {
    background-color: transparent;
    border: 1px solid #BF6024;
    color: #BF6024;
  }
  
  
  #footer {
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    justify-content: space-between;
    padding-block: 56px 70px;
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
  
  #footer a {
    color: #424242;
    font-weight: 400;
    display: block;
  }
  
  #copyright {
    color: var(--color-dark);
    font-weight: 600;
    margin-bottom: 8px;
  }
  
  #site {
    margin-bottom: 14px;
  }
  
  #disclaimer {
    width: 340px;
    height: 60px;
  }
  
  #feedback {
    margin-bottom: 14px;
  }
  
  #feedback a {
    text-decoration: underline;
  }